<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="I" value="10" />
		<add key="M" value="20, 75, 100, 105, 75, 0" />
		<add key="V" value="0, 75, 150, 200, 250, 300" />
		<add key="To" value="110" />
		<add key="Hm" value="0,01" />
		<add key="Hv" value="0,0001" />
		<add key="C" value="0,1" />
	</appSettings>
</configuration>